<footer class="footer pt-90">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-12 col-xs-12">
                <!--Single Footer-->
                <div class="single_footer widget">
                    <div class="single_footer_widget_inner">
                        <div class="footer_logo">
                            <a href="#"><img src="assets/img/logo/logo.png" alt=""></a>
                        </div>
                        <div class="footer_content">
                            <p>Địa chỉ: 123 BUI THI XUAN, HA NOI.</p>
                            <p>Số điện thoại: +0868 31 32 05 </p>
                            <p>Email: Contact@demo.com</p>
                        </div>
                        <div class="footer_social">
                            <h4>Liên hệ:</h4>
                            <div class="footer_social_icon">
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Single Footer-->
            </div>
            <div class="col-lg-6 col-md-12 col-xs-12">
                <div class="footer_menu_list d-flex justify-content-between">
                    <!--Single Footer-->
                    <div class="single_footer widget">
                        <div class="single_footer_widget_inner">
                            <div class="footer_title">
                                <h2>Sản phẩm</h2>
                            </div>
                            <div class="footer_menu">
                                <ul>
                                    <li><a href="#">Giảm giá</a></li>
                                    <li><a href="#">Loại trái cây mới</a></li>
                                    <li><a href="#">Bán chạy nhất</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--Single footer end-->
                    <!--Single footer start-->
                    <div class="single_footer widget">
                        <div class="single_footer_widget_inner">
                            <div class="footer_title">
                                <h2>Liên hệ</h2>
                            </div>
                            <div class="footer_menu">
                                <ul>
                                    <li><a href="#">Bản đồ</a></li>
                                    <li><a href="#">Cửa hàng</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--Single Footer end-->
                    <!--Single footer start-->
                   
                    <!--Single Footer end-->
                </div>
            </div>
            <div class="col-lg-3 col-md-12 col-xs-12">
                <div class="footer_title">
                    <h2> Đang kí nhận thông tin  </h2>
                </div>
                <div class="footer_news_letter">
                    <p>Để lại e-mail để nhận thông tin mới nhất và nhừng khuyến mãi hấp dẫn.</p>
                    <div class="newsletter_form">
                        <form action="#">
                            <input type="email" required placeholder=" Email của bạn">
                            <input type="submit" value="Đăng ký">
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="copyright">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="copyright_text">
                        <p>Copyright 2018 . All Rights Reserved</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="footer_mastercard text-right">
                        <a href="#"><img src="assets/img/brand/payment.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>